<h1 style="text-align:center">
  Bienvenido a {{ title }}
</h1>

<h2 style="text-align:center">
  ¡Mi primer proyecto en angular!
</h2>

<ul style="text-align:center">
  <li><b>Nombre:</b> LUIS DANIEL LOPEZ GARCIA</li>
  <li><b>No. Control:</b> 18390005</li>
  <li><b>Carrera:</b> ITICS</li>
  <li><b>Materia:</b> Framework para Frontend</li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie leo et ligula tincidunt efficitur. Fusce bibendum sem est, tristique condimentum tortor commodo ac. Cras hendrerit ornare sem. Duis tempus urna sit amet mi placerat viverra. Pellentesque nec porttitor nisl. Nam a nunc consequat, semper nunc sed, viverra quam. In sem neque, lobortis vel elit a, congue venenatis sem. Praesent neque ligula, iaculis quis facilisis nec, malesuada vel quam. Quisque finibus eu justo sed ultricies. Nam nisi tortor, vehicula eu mauris sit amet, hendrerit hendrerit erat. Fusce eleifend erat semper urna luctus lacinia in eu est. Cras scelerisque pulvinar dolor a dictum. Sed porttitor et nisi vel feugiat. Etiam scelerisque orci lacus, in euismod enim bibendum et. Sed sollicitudin diam a finibus pulvinar. Curabitur aliquam felis sodales laoreet laoreet.</p>

<p>Praesent auctor ornare luctus. Donec vel ligula eros. Duis iaculis aliquam gravida. Maecenas quis ipsum fringilla, vulputate lectus ornare, aliquet quam. Fusce dictum est sit amet pretium suscipit. Aliquam consequat leo urna, eu rhoncus orci consequat non. Nulla urna arcu, scelerisque viverra sem non, tristique tincidunt quam. Praesent eget urna lectus. Morbi facilisis maximus dui, quis gravida nunc tincidunt non. Suspendisse quis porta ipsum. Phasellus et tempor ante, in eleifend ligula. Sed diam enim, porta id sodales non, semper a arcu. Quisque sit amet dolor id elit suscipit fringilla. Proin augue eros, aliquet eu justo vitae, volutpat lacinia leo. Suspendisse elementum purus ut ligula tincidunt tincidunt. Ut convallis odio a ipsum venenatis, vitae dignissim felis fermentum.</p>

<p>In dui ex, vehicula eget rhoncus ut, laoreet non nulla. Donec pharetra ex quis dui accumsan scelerisque. Curabitur cursus mauris sit amet dui gravida blandit non id metus. Nullam non facilisis lorem. Suspendisse volutpat bibendum sem id ultricies. Nulla eget vulputate justo. Donec varius dictum nisi sit amet maximus. </p>